@font-face {
  font-family: "Roobert";
  src: url("./assets/fonts/WEB/RoobertENEL-Regular.woff") format("woff"),
    url("./assets/fonts/WEB/RoobertENEL-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roobert Light";
  src: url("./assets/fonts/WEB/RoobertENEL-Light.woff") format("woff"),
    url("./assets/fonts/WEB/RoobertENEL-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Roobert Bold";
  src: url("./assets/fonts/WEB/RoobertENEL-Bold.woff") format("woff"),
    url("./assets/fonts/WEB/RoobertENEL-Bold.woff2") format("woff2");
}

@import "tailwindcss";

@theme {
  --color-primary: #002466;
  --color-secondary: #D3135A;
}

/* Custom base styles */
@layer base {
  html {
    font-family: "Roobert";
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Roobert";
  }
}

.text-input {
  @apply bg-white relative rounded shrink-0 w-full max-w-[383px] min-w-32 h-10;
}