@font-face {
  font-family: "Roobert ENEL";
  src: url("./assets/fonts/WEB/RoobertENEL-Regular.woff") format("woff"),
    url("./assets/fonts/WEB/RoobertENEL-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roobert ENEL Light";
  src: url("./assets/fonts/WEB/RoobertENEL-Light.woff") format("woff"),
    url("./assets/fonts/WEB/RoobertENEL-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roobert ENEL Bold";
  src: url("./assets/fonts/WEB/RoobertENEL-Bold.woff") format("woff"),
    url("./assets/fonts/WEB/RoobertENEL-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --color-primary: #002466;
  --color-primary-light: #0047CC;
  --color-primary-lighter: #1F6CF9;
  --color-primary-opaque: #B6CEFB;

  --color-secondary: #D3135A;

  --color-tertiary: #008C5A;
  --color-tertiary-light: #1C946C;

  --color-warning: #E67300;
  --color-warning-light: #FCF1E6;

  --color-black: #131416;
  --color-white-light: #f7f8fb;

  --color-grey-light: #667790;
}

/* Custom base styles */
@layer base {
  html {
    font-family: "Roobert ENEL", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roobert ENEL", sans-serif;
  }
}

/* ENEL Font Utilities */
@layer utilities {
  .font-enel {
    font-family: "Roobert ENEL", sans-serif;
    font-weight: 400;
  }

  .font-enel-light {
    font-family: "Roobert ENEL Light", sans-serif;
    font-weight: 300;
  }

  b,
  .font-enel-bold {
    font-family: "Roobert ENEL Bold", sans-serif;
    font-weight: 700;
  }
}

.form-input {
  @apply max-w-[383px] min-w-32 h-10;
}

.text-input {
  @apply bg-white relative rounded shrink-0 w-full max-w-[383px] min-w-32 h-10;
}

.adjustLetterSpacing {
  letter-spacing: -1px;
}

.extra-thick-text {
  font-weight: 900;
}

.grey-box {
  @apply bg-white-light box-border rounded-3xl size-full
}

.blue-shadow {
  box-shadow: 0 0 16px 4px rgba(0, 71, 204, 0.48);
}

.whitespace-nosense-fix {
  @media (max-width: 1269px) {
    font-size: 16px;
  }
}

/* rc-slider custom styling to match Figma design */
/* .rc-slider-custom {
  height: 24px;
  padding: 0;
}
*/
.rc-slider-custom .rc-slider-rail {
  display: none;
}

.rc-slider-custom .rc-slider-track {
  background-color: var(--color-secondary);
  height: 18px;
  top: -2px;
  border-radius: 50px;
}

.rc-slider-custom .rc-slider-handle {
  width: 22px;
  height: 22px;
  margin-top: -9px;
  border: 2px solid var(--color-white-light);
  background-color: var(--color-secondary);
  opacity: 1;
  box-shadow: none;
}

.rc-slider-custom .rc-slider-handle:hover {
  border: 2px solid var(--color-white-light);
  background-color: var(--color-secondary);
}

.rc-slider-custom .rc-slider-handle:active {
  border: 2px solid var(--color-white-light);
  background-color: var(--color-secondary);
}

.rc-slider-custom .rc-slider-handle-dragging {
  border: 2px solid var(--color-white-light) !important;
  box-shadow: none !important;
  background-color: var(--color-secondary);
}

.rc-slider-custom .rc-slider-handle:focus {
  outline: none;
  border: 2px solid var(--color-white-light);
  background-color: var(--color-secondary);
}

.rc-slider-mark {
  top: 30px !important;
}

.rc-slider-dot {
  display: none !important;
}

.rc-slider-custom .rc-slider-handle::after {
  display: none;
}