@font-face {
  font-family: "Roobert ENEL";
  src: url("./assets/fonts/WEB/RoobertENEL-Regular.woff") format("woff"),
    url("./assets/fonts/WEB/RoobertENEL-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roobert ENEL Light";
  src: url("./assets/fonts/WEB/RoobertENEL-Light.woff") format("woff"),
    url("./assets/fonts/WEB/RoobertENEL-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roobert ENEL Bold";
  src: url("./assets/fonts/WEB/RoobertENEL-Bold.woff") format("woff"),
    url("./assets/fonts/WEB/RoobertENEL-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --color-primary: #002466;
  --color-primary-light: #0047CC;
  --color-secondary: #D3135A;
  --color-warning: #E67300;
  --color-warning-light: #FCF1E6;

  --color-black: #131416;
  --color-white-light: #f7f8fb
}

/* Custom base styles */
@layer base {
  html {
    font-family: "Roobert ENEL", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roobert ENEL", sans-serif;
  }
}

/* ENEL Font Utilities */
@layer utilities {
  .font-enel {
    font-family: "Roobert ENEL", sans-serif;
    font-weight: 400;
  }

  .font-enel-light {
    font-family: "Roobert ENEL Light", sans-serif;
    font-weight: 300;
  }

  b,
  .font-enel-bold {
    font-family: "Roobert ENEL Bold", sans-serif;
    font-weight: 700;
  }
}

.form-input {
  @apply max-w-[383px] min-w-32 h-10;
}

.text-input {
  @apply bg-white relative rounded shrink-0 w-full max-w-[383px] min-w-32 h-10;
}

.adjustLetterSpacing {
  letter-spacing: -1px;
}

.extra-thick-text {
  font-weight: 900;
}